[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "==1.4.41"
requests = "*"
Flask =  "==2.2.2"
flask-marshmallow = "==0.14.0"
jsonschema = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
